*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.5;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    background: #24262b;
    padding: 70px 0;
}
.container{
    max-width: 1170px;
    
    margin: auto;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  
}
.footer-col h4::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #bbbbbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;

}
.footer-col .social_link a{
    display: inline-block ;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0 10px 10px 0;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    color: white;
    transition: all 0.3s ease;
   
}
.footer-col .social_link a:hover{
    color: #24262b;
    background-color: #ffffff;
}
/* Responsive */
@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}